
            #page_1 {
                position: relative;
                overflow: hidden;
                margin: 6px 0px 45px 16px;
                padding: 0px;
                border: none;
                width: 100%;
            }

                #page_1 #p1dimg1 {
                    position: absolute;
                    top: 0px;
                    left: 51px;
                    z-index: -1;
                    width: 692px;
                    height: 1058px;
                }

                    #page_1 #p1dimg1 #p1img1 {
                        width: 692px;
                        height: 1058px;
                    }

                #page_1 #p1inl_img1 {
                    position: relative;
                    width: 21px;
                    height: 12px;
                }



            #page_2 {
                position: relative;
                overflow: hidden;
                margin: 6px 0px 45px 16px;
                padding: 0px;
                border: none;
                width: 779px;
            }

                #page_2 #p2dimg1 {
                    position: absolute;
                    top: 0px;
                    left: 61px;
                    z-index: -1;
                    width: 426px;
                    height: 1058px;
                }

                    #page_2 #p2dimg1 #p2img1 {
                        width: 426px;
                        height: 1058px;
                    }




            #page_3 {
                position: relative;
                overflow: hidden;
                margin: 6px 0px 45px 10px;
                padding: 0px;
                border: none;
                width: 785px;
            }

                #page_3 #id3_1 {
                    border: none;
                    margin: 121px 0px 0px 110px;
                    padding: 0px;
                    border: none;
                    width: 675px;
                    overflow: hidden;
                }

                #page_3 #id3_2 {
                    border: none;
                    margin: 96px 0px 0px 149px;
                    padding: 0px;
                    border: none;
                    width: 636px;
                    overflow: hidden;
                }

                    #page_3 #id3_2 #id3_2_1 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 417px;
                        overflow: hidden;
                    }

                    #page_3 #id3_2 #id3_2_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 219px;
                        overflow: hidden;
                    }

                #page_3 #id3_3 {
                    border: none;
                    margin: 46px 0px 0px 13px;
                    padding: 0px;
                    border: none;
                    width: 772px;
                    overflow: hidden;
                }

                    #page_3 #id3_3 #id3_3_1 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 389px;
                        overflow: hidden;
                    }

                    #page_3 #id3_3 #id3_3_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 383px;
                        overflow: hidden;
                    }

                #page_3 #id3_4 {
                    border: none;
                    margin: 46px 0px 0px 6px;
                    padding: 0px;
                    border: none;
                    width: 779px;
                    overflow: hidden;
                }

                    #page_3 #id3_4 #id3_4_1 {
                        float: left;
                        border: none;
                        margin: 1px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 391px;
                        overflow: hidden;
                    }

                    #page_3 #id3_4 #id3_4_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 388px;
                        overflow: hidden;
                    }

                #page_3 #id3_5 {
                    border: none;
                    margin: 57px 0px 0px 6px;
                    padding: 0px;
                    border: none;
                    width: 779px;
                    overflow: hidden;
                }

                #page_3 #p3dimg1 {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    z-index: -1;
                    width: 757px;
                    height: 1058px;
                }

                    #page_3 #p3dimg1 #p3img1 {
                        width: 757px;
                        height: 1058px;
                    }

                #page_3 #p3inl_img1 {
                    position: relative;
                    width: 1px;
                    height: 19px;
                }

                #page_3 #p3inl_img2 {
                    position: relative;
                    width: 29px;
                    height: 15px;
                }

                #page_3 #p3inl_img3 {
                    position: relative;
                    width: 8px;
                    height: 23px;
                }



            #page_4 {
                position: relative;
                overflow: hidden;
                margin: 11px 0px 41px 0px;
                padding: 0px;
                border: none;
                width: 793px;
            }

                #page_4 #id4_1 {
                    border: none;
                    margin: 85px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 597px;
                    overflow: hidden;
                }

                #page_4 #id4_2 {
                    border: none;
                    margin: 17px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_4 #id4_2 #id4_2_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_4 #id4_2 #id4_2_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_4 #id4_3 {
                    border: none;
                    margin: 22px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                #page_4 #id4_4 {
                    border: none;
                    margin: 60px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_4 #id4_4 #id4_4_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_4 #id4_4 #id4_4_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_4 #id4_5 {
                    border: none;
                    margin: 22px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                #page_4 #id4_6 {
                    border: none;
                    margin: 38px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_4 #id4_6 #id4_6_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_4 #id4_6 #id4_6_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_4 #id4_7 {
                    border: none;
                    margin: 22px 0px 0px 0px;
                    padding: 0px;
                    border: none;
                    width: 793px;
                    overflow: hidden;
                }

                #page_4 #p4dimg1 {
                    position: absolute;
                    top: 0px;
                    left: 114px;
                    z-index: -1;
                    width: 587px;
                    height: 1042px;
                }

                    #page_4 #p4dimg1 #p4img1 {
                        width: 587px;
                        height: 1042px;
                    }




            #page_5 {
                position: relative;
                overflow: hidden;
                margin: 11px 0px 41px 0px;
                padding: 0px;
                border: none;
                width: 793px;
            }

                #page_5 #id5_1 {
                    border: none;
                    margin: 103px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_5 #id5_1 #id5_1_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_5 #id5_1 #id5_1_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_5 #id5_2 {
                    border: none;
                    margin: 23px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                #page_5 #id5_3 {
                    border: none;
                    margin: 53px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_5 #id5_3 #id5_3_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_5 #id5_3 #id5_3_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_5 #id5_4 {
                    border: none;
                    margin: 23px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                #page_5 #id5_5 {
                    border: none;
                    margin: 53px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_5 #id5_5 #id5_5_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_5 #id5_5 #id5_5_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_5 #id5_6 {
                    border: none;
                    margin: 23px 0px 0px 0px;
                    padding: 0px;
                    border: none;
                    width: 793px;
                    overflow: hidden;
                }

                #page_5 #p5dimg1 {
                    position: absolute;
                    top: 0px;
                    left: 114px;
                    z-index: -1;
                    width: 587px;
                    height: 1042px;
                }

                    #page_5 #p5dimg1 #p5img1 {
                        width: 587px;
                        height: 1042px;
                    }




            #page_6 {
                position: relative;
                overflow: hidden;
                margin: 11px 0px 41px 0px;
                padding: 0px;
                border: none;
                width: 793px;
            }

                #page_6 #id6_1 {
                    border: none;
                    margin: 103px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_6 #id6_1 #id6_1_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_6 #id6_1 #id6_1_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_6 #id6_2 {
                    border: none;
                    margin: 23px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                #page_6 #id6_3 {
                    border: none;
                    margin: 53px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_6 #id6_3 #id6_3_1 {
                        float: left;
                        border: none;
                        margin: 3px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_6 #id6_3 #id6_3_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_6 #id6_4 {
                    border: none;
                    margin: 23px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                #page_6 #id6_5 {
                    border: none;
                    margin: 47px 0px 0px 104px;
                    padding: 0px;
                    border: none;
                    width: 689px;
                    overflow: hidden;
                }

                    #page_6 #id6_5 #id6_5_1 {
                        float: left;
                        border: none;
                        margin: 4px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 29px;
                        overflow: hidden;
                    }

                    #page_6 #id6_5 #id6_5_2 {
                        float: left;
                        border: none;
                        margin: 0px 0px 0px 0px;
                        padding: 0px;
                        border: none;
                        width: 660px;
                        overflow: hidden;
                    }

                #page_6 #id6_6 {
                    border: none;
                    margin: 23px 0px 0px 0px;
                    padding: 0px;
                    border: none;
                    width: 793px;
                    overflow: hidden;
                }

                #page_6 #p6dimg1 {
                    position: absolute;
                    top: 0px;
                    left: 114px;
                    z-index: -1;
                    width: 587px;
                    height: 1042px;
                }

                    #page_6 #p6dimg1 #p6img1 {
                        width: 587px;
                        height: 1042px;
                    }




            #page_7 {
                position: relative;
                overflow: hidden;
                margin: 11px 0px 41px 99px;
                padding: 0px;
                border: none;
                width: 694px;
            }

                #page_7 #p7dimg1 {
                    position: absolute;
                    top: 0px;
                    left: 15px;
                    z-index: -1;
                    width: 600px;
                    height: 1042px;
                }

                    #page_7 #p7dimg1 #p7img1 {
                        width: 600px;
                        height: 1042px;
                    }




            .dclr {
                clear: both;
                float: none;
                height: 1px;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
            }

            .ft0 {
                font: bold 19px 'Times New Roman';
                text-decoration: underline;
                line-height: 22px;
            }

            .ft1 {
                font: 13px 'Times New Roman';
                color: #938953;
                line-height: 15px;
            }

            .ft2 {
                font: 16px 'Times New Roman';
                line-height: 19px;
            }

            .ft3 {
                font: bold 16px 'Times New Roman';
                line-height: 19px;
            }

            .ft4 {
                font: 1px 'Arial';
                line-height: 8px;
            }

            .ft5 {
                font: 1px 'Arial';
                line-height: 10px;
            }

            .ft6 {
                font: bold 15px 'Arial';
                line-height: 18px;
            }

            .ft7 {
                font: 15px 'Times New Roman';
                line-height: 17px;
            }

            .ft8 {
                font: 15px 'Arial';
                margin-left: 17px;
                line-height: 17px;
            }

            .ft9 {
                font: 15px 'Arial';
                line-height: 17px;
            }

            .ft10 {
                font: bold 15px 'Arial';
                margin-left: 17px;
                line-height: 18px;
            }

            .ft11 {
                font: bold 15px 'Arial';
                text-decoration: underline;
                line-height: 18px;
            }

            .ft12 {
                font: 15px 'Arial';
                margin-left: 11px;
                line-height: 19px;
            }

            .ft13 {
                font: 15px 'Arial';
                line-height: 19px;
            }

            .ft14 {
                font: 15px 'Arial';
                margin-left: 11px;
                line-height: 17px;
            }

            .ft15 {
                font: bold 13px 'Arial';
                line-height: 15px;
            }

            .ft16 {
                font: bold 13px 'Arial';
                line-height: 16px;
            }

            .ft17 {
                font: 12px 'Times New Roman';
                line-height: 15px;
            }

            .ft18 {
                font: 1px 'Arial';
                line-height: 1px;
            }

            .ft19 {
                font: bold 15px 'Calibri';
                line-height: 18px;
            }

            .ft20 {
                font: 15px 'Calibri';
                line-height: 18px;
            }

            .ft21 {
                font: bold 16px 'Trebuchet MS';
                text-decoration: underline;
                line-height: 22px;
            }

            .ft22 {
                font: 16px 'Trebuchet MS';
                line-height: 22px;
            }

            .ft23 {
                font: bold 16px 'Times New Roman';
                line-height: 18px;
            }

            .ft24 {
                font: 1px 'Times New Roman';
                line-height: 18px;
            }

            .ft25 {
                font: 1px 'Times New Roman';
                line-height: 1px;
            }

            .ft26 {
                font: 1px 'Times New Roman';
                line-height: 13px;
            }

            .ft27 {
                font: 1px 'Times New Roman';
                line-height: 6px;
            }

            .ft28 {
                font: 16px 'Times New Roman';
                line-height: 18px;
            }

            .ft29 {
                font: 17px 'Times New Roman';
                line-height: 19px;
            }

            .ft30 {
                font: bold 17px 'Times New Roman';
                line-height: 19px;
            }

            .ft31 {
                font: bold 19px 'Times New Roman';
                line-height: 22px;
            }

            .ft32 {
                font: bold 16px 'Arial';
                line-height: 19px;
            }

            .ft33 {
                font: 16px 'Arial';
                text-decoration: underline;
                line-height: 18px;
            }

            .ft34 {
                font: bold 16px 'Arial';
                text-decoration: underline;
                line-height: 19px;
            }

            .ft35 {
                font: 16px 'Arial';
                line-height: 19px;
            }

            .ft36 {
                font: italic bold 16px 'Arial';
                line-height: 19px;
            }

            .ft37 {
                font: 19px 'Calibri';
                line-height: 23px;
            }

            .ft38 {
                font: 11px 'Times New Roman';
                color: #938953;
                line-height: 14px;
            }

            .ft39 {
                font: 19px 'Calibri';
                line-height: 23px;
                position: relative;
                bottom: 4px;
            }

            .ft40 {
                font: 11px 'Times New Roman';
                line-height: 14px;
            }

            .ft41 {
                font: bold 19px 'Cambria';
                line-height: 29px;
            }

            .ft42 {
                font: 18px 'Calibri';
                line-height: 22px;
            }

            .ft43 {
                font: bold 16px 'Arial';
                line-height: 24px;
            }

            .ft44 {
                font: 16px 'Arial';
                line-height: 18px;
            }

            .ft45 {
                font: 1px 'Calibri';
                line-height: 1px;
            }

            .p0 {
                text-align: left;
                padding-left: 277px;
                margin-top: 81px;
                margin-bottom: 0px;
            }

            .p1 {
                text-align: left;
                padding-left: 317px;
                margin-top: 23px;
                margin-bottom: 0px;
            }

            .p2 {
                text-align: left;
                padding-left: 213px;
                margin-top: 25px;
                margin-bottom: 0px;
            }

            .p3 {
                text-align: left;
                padding-left: 309px;
                margin-top: 33px;
                margin-bottom: 0px;
            }

            .p4 {
                text-align: left;
                padding-left: 93px;
                margin-top: 43px;
                margin-bottom: 0px;
            }

            .p5 {
                text-align: left;
                padding-left: 96px;
                margin-top: 16px;
                margin-bottom: 0px;
            }

            .p6 {
                text-align: left;
                padding-left: 93px;
                margin-top: 18px;
                margin-bottom: 0px;
            }

            .p7 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p8 {
                text-align: left;
                padding-left: 17px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p9 {
                text-align: left;
                padding-left: 53px;
                margin-top: 49px;
                margin-bottom: 0px;
            }

            .p10 {
                text-align: left;
                padding-left: 24px;
                margin-top: 12px;
                margin-bottom: 0px;
            }

            .p11 {
                text-align: left;
                padding-left: 24px;
                margin-top: 1px;
                margin-bottom: 0px;
            }

            .p12 {
                text-align: left;
                padding-left: 24px;
                margin-top: 2px;
                margin-bottom: 0px;
            }

            .p13 {
                text-align: left;
                padding-left: 24px;
                margin-top: 3px;
                margin-bottom: 0px;
            }

            .p14 {
                text-align: left;
                padding-left: 24px;
                margin-top: 4px;
                margin-bottom: 0px;
            }

            .p15 {
                text-align: left;
                padding-left: 48px;
                margin-top: 47px;
                margin-bottom: 0px;
            }

            .p16 {
                text-align: left;
                padding-left: 38px;
                padding-right: 44px;
                margin-top: 12px;
                margin-bottom: 0px;
                text-indent: -18px;
            }

            .p17 {
                text-align: left;
                padding-left: 20px;
                margin-top: 2px;
                margin-bottom: 0px;
            }

            .p18 {
                text-align: left;
                padding-left: 20px;
                margin-top: 3px;
                margin-bottom: 0px;
            }

            .p19 {
                text-align: left;
                padding-left: 20px;
                margin-top: 4px;
                margin-bottom: 0px;
            }

            .p20 {
                text-align: left;
                padding-left: 108px;
                margin-top: 28px;
                margin-bottom: 0px;
            }

            .p21 {
                text-align: left;
                padding-left: 96px;
                margin-top: 1px;
                margin-bottom: 0px;
            }

            .p22 {
                text-align: left;
                padding-left: 357px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .p23 {
                text-align: left;
                padding-left: 155px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p24 {
                text-align: left;
                padding-left: 53px;
                margin-top: 146px;
                margin-bottom: 0px;
            }

            .p25 {
                text-align: left;
                padding-left: 53px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .p26 {
                text-align: left;
                padding-left: 26px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p27 {
                text-align: left;
                padding-left: 9px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p28 {
                text-align: left;
                padding-left: 8px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p29 {
                text-align: left;
                padding-left: 18px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p30 {
                text-align: left;
                padding-left: 21px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p31 {
                text-align: center;
                padding-right: 1px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p32 {
                text-align: left;
                padding-left: 34px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p33 {
                text-align: left;
                padding-left: 7px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p34 {
                text-align: left;
                padding-left: 13px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p35 {
                text-align: left;
                padding-left: 25px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p36 {
                text-align: left;
                padding-left: 14px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p37 {
                text-align: left;
                padding-left: 19px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p38 {
                text-align: left;
                padding-left: 6px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p39 {
                text-align: left;
                padding-left: 22px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p40 {
                text-align: left;
                padding-left: 28px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p41 {
                text-align: left;
                padding-left: 11px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p42 {
                text-align: left;
                padding-left: 47px;
                margin-top: 58px;
                margin-bottom: 0px;
            }

            .p43 {
                text-align: left;
                padding-left: 98px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .p44 {
                text-align: left;
                padding-left: 94px;
                margin-top: 34px;
                margin-bottom: 0px;
            }

            .p45 {
                text-align: left;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .p46 {
                text-align: left;
                margin-top: 17px;
                margin-bottom: 0px;
            }

            .p47 {
                text-align: left;
                padding-left: 15px;
                margin-top: 15px;
                margin-bottom: 0px;
            }

            .p48 {
                text-align: left;
                padding-left: 57px;
                margin-top: 36px;
                margin-bottom: 0px;
            }

            .p49 {
                text-align: left;
                padding-left: 47px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .p50 {
                text-align: left;
                padding-left: 94px;
                margin-top: 193px;
                margin-bottom: 0px;
            }

            .p51 {
                text-align: left;
                padding-left: 94px;
                margin-top: 17px;
                margin-bottom: 0px;
            }

            .p52 {
                text-align: left;
                padding-left: 94px;
                margin-top: 42px;
                margin-bottom: 0px;
            }

            .p53 {
                text-align: left;
                padding-left: 47px;
                padding-right: 71px;
                margin-top: 18px;
                margin-bottom: 0px;
                text-indent: 104px;
            }

            .p54 {
                text-align: left;
                margin-top: 23px;
                margin-bottom: 0px;
            }

            .p55 {
                text-align: left;
                margin-top: 39px;
                margin-bottom: 0px;
            }

            .p56 {
                text-align: left;
                margin-top: 30px;
                margin-bottom: 0px;
            }

            .p57 {
                text-align: left;
                padding-left: 104px;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .p58 {
                text-align: left;
                padding-left: 104px;
                margin-top: 23px;
                margin-bottom: 0px;
            }

            .p59 {
                text-align: left;
                padding-left: 104px;
                margin-top: 31px;
                margin-bottom: 0px;
            }

            .p60 {
                text-align: right;
                padding-right: 81px;
                margin-top: 2px;
                margin-bottom: 0px;
            }

            .p61 {
                text-align: left;
                margin-top: 22px;
                margin-bottom: 0px;
            }

            .p62 {
                text-align: left;
                margin-top: 31px;
                margin-bottom: 0px;
            }

            .p63 {
                text-align: left;
                padding-left: 104px;
                margin-top: 22px;
                margin-bottom: 0px;
            }

            .p64 {
                text-align: left;
                padding-left: 104px;
                margin-top: 30px;
                margin-bottom: 0px;
            }

            .p65 {
                text-align: left;
                padding-left: 1px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p66 {
                text-align: left;
                padding-left: 5px;
                padding-right: 98px;
                margin-top: 29px;
                margin-bottom: 0px;
            }

            .p67 {
                text-align: right;
                padding-right: 11px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p68 {
                text-align: left;
                padding-left: 10px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p69 {
                text-align: left;
                padding-left: 4px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p70 {
                text-align: left;
                padding-left: 5px;
                padding-right: 79px;
                margin-top: 42px;
                margin-bottom: 0px;
            }

            .p71 {
                text-align: right;
                padding-right: 14px;
                margin-top: 0px;
                margin-bottom: 0px;
                white-space: nowrap;
            }

            .p72 {
                text-align: left;
                padding-left: 544px;
                margin-top: 2px;
                margin-bottom: 0px;
            }

            .td0 {
                padding: 0px;
                margin: 0px;
                width: 144px;
                vertical-align: bottom;
            }

            .td1 {
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 175px;
                vertical-align: bottom;
            }

            .td2 {
                padding: 0px;
                margin: 0px;
                width: 101px;
                vertical-align: bottom;
            }

            .td3 {
                padding: 0px;
                margin: 0px;
                width: 175px;
                vertical-align: bottom;
            }

            .td4 {
                padding: 0px;
                margin: 0px;
                width: 108px;
                vertical-align: bottom;
            }

            .td5 {
                padding: 0px;
                margin: 0px;
                width: 111px;
                vertical-align: bottom;
            }

            .td6 {
                padding: 0px;
                margin: 0px;
                width: 64px;
                vertical-align: bottom;
            }

            .td7 {
                padding: 0px;
                margin: 0px;
                width: 61px;
                vertical-align: bottom;
            }

            .td8 {
                padding: 0px;
                margin: 0px;
                width: 77px;
                vertical-align: bottom;
            }

            .td9 {
                padding: 0px;
                margin: 0px;
                width: 325px;
                vertical-align: bottom;
            }

            .td10 {
                border-left: #000000 1px solid;
                border-right: #000000 1px solid;
                border-top: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 73px;
                vertical-align: bottom;
            }

            .td11 {
                border-right: #000000 1px solid;
                border-top: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 198px;
                vertical-align: bottom;
            }

            .td12 {
                border-right: #000000 1px solid;
                border-top: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 103px;
                vertical-align: bottom;
            }

            .td13 {
                border-right: #000000 1px solid;
                border-top: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 94px;
                vertical-align: bottom;
            }

            .td14 {
                border-left: #000000 1px solid;
                border-right: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 73px;
                vertical-align: bottom;
            }

            .td15 {
                padding: 0px;
                margin: 0px;
                width: 99px;
                vertical-align: bottom;
            }

            .td16 {
                border-right: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 99px;
                vertical-align: bottom;
            }

            .td17 {
                border-right: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 103px;
                vertical-align: bottom;
            }

            .td18 {
                border-right: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 94px;
                vertical-align: bottom;
            }

            .td19 {
                border-left: #000000 1px solid;
                border-right: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 73px;
                vertical-align: bottom;
            }

            .td20 {
                border-right: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 198px;
                vertical-align: bottom;
            }

            .td21 {
                border-right: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 103px;
                vertical-align: bottom;
            }

            .td22 {
                border-right: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 94px;
                vertical-align: bottom;
            }

            .td23 {
                border-right: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 198px;
                vertical-align: bottom;
            }

            .td24 {
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 99px;
                vertical-align: bottom;
            }

            .td25 {
                border-right: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 99px;
                vertical-align: bottom;
            }

            .td26 {
                border-left: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 173px;
                vertical-align: bottom;
            }

            .td27 {
                border-right: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 94px;
                vertical-align: bottom;
                background: #d9d9d9;
            }

            .td28 {
                border-right: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 103px;
                vertical-align: bottom;
                background: #d9d9d9;
            }

            .td29 {
                border-left: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 74px;
                vertical-align: bottom;
            }

            .td30 {
                border-right: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 94px;
                vertical-align: bottom;
                background: #d9d9d9;
            }

            .td31 {
                border-right: #000000 1px solid;
                border-bottom: #000000 1px solid;
                padding: 0px;
                margin: 0px;
                width: 103px;
                vertical-align: bottom;
                background: #d9d9d9;
            }

            .td32 {
                padding: 0px;
                margin: 0px;
                width: 186px;
                vertical-align: bottom;
            }

            .td33 {
                padding: 0px;
                margin: 0px;
                width: 219px;
                vertical-align: bottom;
            }

            .td34 {
                padding: 0px;
                margin: 0px;
                width: 28px;
                vertical-align: bottom;
            }

            .td35 {
                padding: 0px;
                margin: 0px;
                width: 110px;
                vertical-align: bottom;
            }

            .td36 {
                padding: 0px;
                margin: 0px;
                width: 138px;
                vertical-align: bottom;
            }

            .td37 {
                padding: 0px;
                margin: 0px;
                width: 25px;
                vertical-align: bottom;
            }

            .td38 {
                padding: 0px;
                margin: 0px;
                width: 420px;
                vertical-align: bottom;
            }

            .td39 {
                padding: 0px;
                margin: 0px;
                width: 449px;
                vertical-align: bottom;
            }

            .td40 {
                padding: 0px;
                margin: 0px;
                width: 73px;
                vertical-align: bottom;
            }

            .td41 {
                padding: 0px;
                margin: 0px;
                width: 27px;
                vertical-align: bottom;
            }

            .td42 {
                padding: 0px;
                margin: 0px;
                width: 433px;
                vertical-align: bottom;
            }

            .tr0 {
                height: 19px;
            }

            .tr1 {
                height: 8px;
            }

            .tr2 {
                height: 10px;
            }

            .tr3 {
                height: 16px;
            }

            .tr4 {
                height: 21px;
            }

            .tr5 {
                height: 35px;
            }

            .tr6 {
                height: 18px;
            }

            .tr7 {
                height: 20px;
            }

            .tr8 {
                height: 45px;
            }

            .tr9 {
                height: 32px;
            }

            .tr10 {
                height: 13px;
            }

            .tr11 {
                height: 6px;
            }

            .tr12 {
                height: 36px;
            }

            .tr13 {
                height: 38px;
            }

            .tr14 {
                height: 37px;
            }

            .tr15 {
                height: 22px;
            }

            .tr16 {
                height: 34px;
            }

            .tr17 {
                height: 15px;
            }

            .tr18 {
                height: 24px;
            }

            .tr19 {
                height: 47px;
            }

            .tr20 {
                height: 44px;
            }

            .tr21 {
                height: 48px;
            }

            .tr22 {
                height: 23px;
            }

            .tr23 {
                height: 72px;
            }

            .tr24 {
                height: 50px;
            }

            .tr25 {
                height: 42px;
            }

            .t0 {
                width: 420px;
                margin-left: 76px;
                margin-top: 52px;
                font: 16px 'Times New Roman';
            }

            .t1 {
                width: 746px;
                margin-top: 76px;
                font: 12px 'Times New Roman';
            }

            .t2 {
                width: 576px;
                margin-left: 49px;
                margin-top: 34px;
                font: bold 16px 'Times New Roman';
            }

            .t3 {
                width: 746px;
                margin-top: 165px;
                font: 12px 'Times New Roman';
            }

            .t4 {
                width: 746px;
                margin-top: 78px;
                font: 12px 'Times New Roman';
            }

            .t5 {
                width: 607px;
                margin-left: 104px;
                margin-top: 156px;
                font: 12px 'Times New Roman';
            }

            .t6 {
                width: 607px;
                margin-left: 104px;
                margin-top: 183px;
                font: 12px 'Times New Roman';
            }

            .t7 {
                width: 607px;
                margin-left: 104px;
                margin-top: 189px;
                font: 12px 'Times New Roman';
            }

            .t8 {
                width: 138px;
                margin-left: 5px;
                margin-top: 102px;
                font: 11px 'Times New Roman';
                color: #938953;
            }

            .t9 {
                width: 522px;
                margin-left: 5px;
                margin-top: 35px;
                font: 18px 'Calibri';
            }

            .t10 {
                width: 522px;
                margin-left: 5px;
                margin-top: 45px;
                font: 13px 'Times New Roman';
                color: #938953;
            }

            .t11 {
                width: 533px;
                margin-top: 4px;
                font: 16px 'Arial';
            }

            .t12 {
                width: 607px;
                margin-left: 5px;
                margin-top: 99px;
                font: 12px 'Times New Roman';
            }