<h2 class="mb-2">Mandatory 2 </h2>
<div class="col-12">
    <div>
       <select class="form-control col-4" id="drpmandatory2">
           <option value="">--select--</option>
           <option value="Theory only">Theory only</option>
           <option value="Theory &practical">Theory &practical</option>
           <option value="BL -IPR">BL -IPR</option>
           <option value="BL -AR">BL -AR</option>
       </select>

        <a id="addmandatory2row" class="btn btn-primary mt-3">Add</a>
    </div>
    <table id="tblmadatory2" class="table mt-3">
        <tbody>

        </tbody>
    </table>
    <a id="savemandatory2" class="btn btn-primary mt-3" style="display:none">Save</a>
</div>