<h2 class="mb-2 mb-2">PPT </h2>
<hr />
<div class="col-12">
    <div>
        <a id="showpptfile_replace" class="btn btn-primary mt-3">1. <i class="fa fa-file-powerpoint"></i> Generate PPT</a>
      <br /> <p> Note: <span style="color:blue">click on ppt file after file process on background. backgound process done after next button show </span></p>
    </div>
    <div>
        <a id="showpptfile_saveback" class="btn btn-danger mt-3" style="display:none"><i class="fa fa-backward"></i> Back</a>
        <a id="showpptfile_save" class="btn btn-primary mt-3" style="display:none"><i class="fa fa-save"></i> Save</a>
    </div>
</div>
