<h2 class="mb-2">For all the remaining docs  </h2>
<div class="col-12">
    <ul id="remininig_documentlist">
    </ul>
    <hr />
    <div class="mt-5">
        Generated Document List
    </div>
    <div id="DocumentList">
        <table class="table" id="Generated_DocumentList">
            <tbody id="tbodyGenerated_DocumentList"></tbody>
        </table>
        @*<ul id="Generated_DocumentList"></ul>*@
    </div>
    <div>
        <a id="remaining_saveback" class="btn btn-danger mt-3"><i class="fa fa-backward"></i> Back</a>
        <a id="show_files" onclick="List_of_doc()" class="btn btn-info mt-3"><i class="fa fa-files-o"></i> Show Generated Files</a>
    </div>
</div>
