<connectionStrings>
    <!--test connection-->


  <add name="hangfire" providerName="System.Data.SqlClient" connectionString="Data Source=18.140.245.42\SQLEXPRESS,50290;Initial Catalog=SSTM_Hangfire; User ID=sa; Password=sa;Connection Timeout=0; Max Pool Size=1000;" />
  <!--<add name="SSTMDbContext" providerName="System.Data.SqlClient"
       connectionString="Data Source=DESKTOP-EFII85U;Initial Catalog=SSTM_Test; User ID=sa; Password=sa;Connection Timeout=0; Max Pool Size=1000;" />--> <!--local-->

  <add name="SSTMDbContext" providerName="System.Data.SqlClient"
       connectionString="Data Source=18.140.245.42\SQLEXPRESS,50290;Initial Catalog=SSTM5_Test_New; User ID=sstmAdmin; Password=$$#/\/\2o!gDb;Connection Timeout=0; Max Pool Size=1000;" />  <!--live--> 

 
</connectionStrings>